<section class="expert block -wave">
    <div class="container">
        <h2 class="title expert-title">
            «Один единственный паразит приводит к&nbsp;заражению всего организма»
        </h2>
        <div class="expert-wrap">
            <div class="expert-img">
                <img src="img/expert.png" alt="expert">
            </div>
            <div class="expert-content">
                <p class="expert-content__text">
                    Чтобы избавиться от глистов, нужно вывести все особи
                    до&nbsp;единой. Потому что, глисты очень быстро размножаются
                    и&nbsp;распространяются по всему организму.
                </p>
                <p class="expert-content__text">
                    Для того, чтобы решить эту проблему, я&nbsp;советую использовать средство против глистов Intoxic.
                </p>
                <p class="expert-content__text">
                    Эти <span class="expert-content__text_another">капли убивают все глисты и&nbsp;их личинки, выводят<br>
                    их&nbsp;из организма и&nbsp;нейтрализуют их яды и&nbsp;токсины.</span>
                </p>
                <p class="expert-content__text">
                    Таким образом, у&nbsp;очищенного от&nbsp;глистов организма
                    <span class="expert-content__text_another">повышается иммунитет.</span> А&nbsp;это верный способ
                    <span class="expert-content__text_another">защититься от&nbsp;повторного заражения паразитами.</span>
                </p>
                <div class="expert-info">
                    <p class="expert-info__name">Brian Ferguson</p>
                    <p class="expert-info__profession">Журналист медицинского издания</p>
                </div>
            </div>
        </div>
    </div>
</section>