<section class="steps block block-red">
    <div class="container">
        <h2 class="title steps__title">
            Выводить глистов нужно комплексным подходом и&nbsp;всех до&nbsp;единого паразита
        </h2>
        <div class="steps__numbers-box">
            <div class="steps__number-step"><!--1-->
                <div class="steps__number-image -first-number">
                    <img src="./img/step1.png" alt="step1">
                </div>
                <div class="steps__number-content">
                    <span class="steps__subtitle">
                        Уничтожить и&nbsp;вывести
                    </span>
                    <span class="steps__description">
                        из организма всех паразитов и&nbsp;их&nbsp;личинки
                    </span>
                </div>
            </div>
            <div class="steps__number-step -second-down"><!--2-->
                <div class="steps__number-image">
                    <img src="./img/step2.png" alt="step2">
                </div>
                <div class="steps__number-content">
                    <span class="steps__subtitle">
                        Нейтрализовать
                    </span>
                    <span class="steps__description">
                        накопившееся в организме яды и&nbsp;токсины
                    </span>
                </div>
            </div>
            <div class="steps__number-step"><!--3-->
                <div class="steps__number-image">
                    <img src="./img/step3.png" alt="step3">
                </div>
                <div class="steps__number-content">
                    <span class="steps__subtitle">
                        Поднять иммунитет
                    </span>
                    <span class="steps__description">
                        чтобы предотвратить вторичное заражение
                    </span>
                </div>
            </div>
        </div>

        <p class="steps__additional-info">
            Большинство средств решают проблему глистов только частично,
            из-за чего быстро происходит новое заражение
        </p>
    </div>
</section>