<section class="block block-red statistics">
    <div class="container">
        <h2 class="title statistics-title">
            По данным <span class="statistics-title_yellow">ВОЗ</span>
            <span class="statistics-title_smaller">каждый третий человек заражен гельминтами</span>
        </h2>

        <div class="statistics__slider-box">
            <div class="swiper-container statistics-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/statistics1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/statistics1.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/statistics1.jpg" alt="">
                    </div>
                </div>

                <div class="swiper-button-prev statistics__swiper-button-prev"></div>
                <div class="swiper-button-next statistics__swiper-button-next"></div>

            </div>
        </div>

        <div class="statistics-content">
            <p class="statistics-content__title">
                Согласно данным за  2019 год, более 1,5 млрд человек заражены
                гельминтами, которые передаются через почву.
            </p>
            <p class="statistics-content__text">
                Количество человек, зараженных гельминтами, которые передаются<br>
                другим путем увеличивается в несколько раз.
            </p>
            <p class="statistics-content__descr">
                *Информация взята из открытых источников ВОЗ
            </p>
        </div>
        <button class="button statistics-button ever-popup-btn">
            <span class="button__text-1">Заказать Intoxic</span>
        </button>
    </div>
</section>