<section class="use block block-red">
    <div class="container">
        <h2 class="title use-title">Как принимать Intoxic</h2>
        <div class="use-wrap">
            <div class="use-item">
                <div class="use-item__img">
                    <img class="img" src="img/use-item1.jpg" alt="">
                    <span class="use-item__number"></span>
                </div>
                <p class="use-item__text">
                    10 капель добавить
                    в&nbsp;20&nbsp;мл теплой воды
                </p>
            </div>
            <div class="use-item">
                <div class="use-item__img">
                    <img class="img" src="img/use-item2.jpg" alt="">
                    <span class="use-item__number"></span>
                </div>
                <p class="use-item__text">
                    Выпивать 3 раза в&nbsp;день
                    за&nbsp;30&nbsp;минут до&nbsp;еды
                </p>
            </div>
            <div class="use-item">
                <div class="use-item__img">
                    <img class="img" src="img/use-item3.jpg" alt="">
                    <span class="use-item__number"></span>
                </div>
                <p class="use-item__text">
                    Повторять<br> каждый&nbsp;день
                </p>
            </div>
        </div>
        <p class="use-conclusion"><span class="use-conclusion_yellow">*</span> Рекомендуемый курс — 30 дней</p>
    </div>
</section>