.glist {
  &.-danger-glist {
    padding: 65px 0 63px;
  }
  &__danger-title {
    margin: 0 auto 49px;
  }
  &__danger-subtitle {
    margin: 32px auto 9px;
    line-height: 27px;
    &.-alergic-width {
      max-width: 250px;
    }
  }
  &__danger-warning {
    max-width: 955px;
    margin-top: 2px;
    padding: 21px 0 19px;
    text-align: center;
  }
}
@media all and (max-width: 1189px) {
  .glist {
    &.-danger-glist {
      padding: 30px 0 40px;
    }
    &__danger-title {
      margin: 0 auto 20px;
    }
  }
}
@media all and (max-width: 1023px) {
  .glist {
    &.-danger-glist {
      padding: 60px 0 40px;
    }
    &__danger-title {
      margin: 0 auto 20px;
    }
    &__danger-warning {
      font-size: 18px;
    }
  }
  .glist__subtitle {
    font-size: 20px;
    line-height: 1.3;
    margin: 15px auto 10px;
  }
}
@media all and (max-width: 767px) {
  .glist {
    &.-danger-glist {
      padding: 60px 0 30px;
    }
    &__damger-title {
      line-height: 1;
    }
    &__danger-warning {
      font-size: 15px;
    }
  }
}
@media all and (max-width: 639px) {
  .glist {
    &__description {
      font-size: 16px;
    }
    &__danger-warning {
      font-size: 16px;
      max-width: 300px;
    }
    &.-danger-glist {
      padding: 50px 0 30px;
    }
  }
}

@media all and (max-width: 479px) {
  .glist {
    &.-danger-glist {
      padding: 50px 0 25px;
    }
  }
}