<section class="glist glist-danger block -wave">
    <div class="container">
        <h2 class="title glist__title glist__danger-title">
            Глисты опасны для здоровья
        </h2>
        <div class="glist__items-box">
            <div class="glist__item"><!--1-->
                <div class="glist__item-image">
                    <img src="./img/g-glist1.png" alt="item1">
                </div>
                <span class="glist__subtitle glist__danger-subtitle">Падение иммунитета и&nbsp;обострение хронических болезней</span>
                <span class="glist__description">
                    Паразиты выделяют токсины и яды, которые медленно отравляют организм.
                </span>
            </div>
            <div class="glist__item -down"><!--2-->
                <div class="glist__item-image">
                    <img src="./img/g-glist2.png" alt="item2">
                </div>
                <span class="glist__subtitle glist__danger-subtitle">Головные боли и&nbsp;головокружения</span>
                <span class="glist__description">
                    Продукты жизнедеятельности глистов негативно влияют на&nbsp;нервную систему.
                </span>
            </div>
            <div class="glist__item"><!--3-->
                <div class="glist__item-image">
                    <img src="./img/g-glist3.png" alt="item3">
                </div>
                <span class="glist__subtitle glist__danger-subtitle -alergic-width">Аллергические реакции</span>
                <span class="glist__description">
                    Как реакция на глистов на&nbsp;коже появляется сильная сыпь и высыпания,
                    а&nbsp;также сильный зуд.
                </span>
            </div>
            <div class="glist__item -down"><!--4-->
                <div class="glist__item-image">
                    <img src="./img/g-glist4.png" alt="item4">
                </div>
                <span class="glist__subtitle glist__danger-subtitle">Расстройство пищеварения</span>
                <span class="glist__description">
                    Хронический запор, диарея, частая тошнота вследствие масштабного заражения гельминтами.
                </span>
            </div>
        </div>

        <p class="glist__warning glist__danger-warning">
            Симптомы часто перекликаются и&nbsp;выявить конкретного паразита - невозможно
        </p>
    </div>
</section>