<section class="reviews block block-red">
    <div class="container">
        <h2 class="title reviews-title">Отзывы</h2>
        <div class="reviews__slider-box">
            <div class="reviews-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews1.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Wawa, 42 года, г. Сибу
                            </p>
                            <p class="reviews-slide__slogan">
                                «Перестала простужаться
                                и&nbsp;чувствую себя прекрасно»
                            </p>
                            <p class="reviews-slide__text">
                                Капли intoxic мне помогли поправить здоровье, а&nbsp;болела
                                я&nbsp;часто, иммунитета вообще никакого не было. Подумала,
                                что&nbsp;давно от паразитов не чистилась, а они как раз иммунитет и убивают.
                                Пропила капли и здоровье стало возвращаться. Чувствую себя бодрой,
                                настроение хорошее, энергии много. Очень довольна, что нашла такое средство.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews2.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Fira, 37 лет, г. Ипох
                            </p>
                            <p class="reviews-slide__slogan">
                                «Кожа стала красивой,
                                прошла&nbsp;сыпь»
                            </p>
                            <p class="reviews-slide__text">
                                Решила вывести паразитов, после того, как на коже появилась сильная сыпь.
                                Пробовала таблетки, но они эффекта почти не дали. Вернее, на неделю сыпь прошла,
                                а потом снова появилась. Я поняла, что не всех глистов убила.
                                Тогда попробовала intoxic и ним у меня все хорошо получилось.
                                Кожа стала чистой, гладкой и красивой и чувствую себя прекрасно.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews3.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Alan, 45 лет, г. Кудат
                            </p>
                            <p class="reviews-slide__slogan">
                                «Самая простая<br>
                                профилактика от глистов»
                            </p>
                            <p class="reviews-slide__text">
                                Intoxic мне понравился, потому что его очень просто и&nbsp;удобно принимать.
                                Просто несколько капель добавить в стакан воды и&nbsp;выпить. А не то, что таблетки,
                                они у меня в горле застряют и поэтому их не люблю. Также нет никаких неприятных ощущений
                                в животе. Все хорошо. Доставили его быстро, даже на день быстрее, чем договаривались.
                                Упаковка крепкая, надежная.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews4.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Asmira, 34 года, г. Кулим
                            </p>
                            <p class="reviews-slide__slogan">
                                «Прошла сонливость<br>
                                и&nbsp;вечная усталость»
                            </p>
                            <p class="reviews-slide__text">
                                После того, как поела в&nbsp;ресторанчике заметила
                                за собой сонливость и&nbsp;усталость постоянную. Решила пропить витамины, но это ничего не дало.
                                Тогда подумала, что с&nbsp;едой могло быть что-то не так и решила заказать себе intoxic.
                                Раскачивалась неделю, пока средство подействовало, но потом у меня турбо режим включился.
                                Меня как подзарядили и&nbsp;энергия, и&nbsp;настроение и&nbsp;сил было полно. Не хочется даже думать,
                                сколько жизни у меня паразиты отбирали. Но хорошо, что я&nbsp;очистилась и их больше нет.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews5.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Haziq, 53 года, г. Куала-Лумпур
                            </p>
                            <p class="reviews-slide__slogan">
                                «Прошли головные боли
                                и&nbsp;перепады настроения»
                            </p>
                            <p class="reviews-slide__text">
                                Купил Intoxic после того,
                                как&nbsp;завел собаку. Пес мне нужен и&nbsp;очень нравится, а&nbsp;вот заразиться от него глистами
                                не&nbsp;хотелось. Понравилось, что очень удобно принимать, что это не таблетки.
                                Про эффект скажу так, что у&nbsp;меня прошли головные боли и&nbsp;перепады настроения,
                                а&nbsp;также с&nbsp;пищеварением стало лучше. Значит, капли подействовали и&nbsp;я от паразитов избавился.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews6.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Amalia, 39 лет, г. Кота-Бару
                            </p>
                            <p class="reviews-slide__slogan">
                                «Убивает глистов и нет побочных эффектов»
                            </p>
                            <p class="reviews-slide__text">
                                Intoxic заказала после того, как&nbsp;мои таблетки, которыми
                                я&nbsp;обычно чистила организм по мне побочными эффектами ударили.
                                Ведь если чистишься от&nbsp;глистов думаешь, что&nbsp;будешь чувствовать себя лучше,
                                а&nbsp;я чувствовала себя разбитой полностью. Intoxic же совсем по другому действует.
                                После него я&nbsp;чувствовала себя только лучше с&nbsp;каждым днем.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews7.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Siti, 43 года, г. Куантан
                            </p>
                            <p class="reviews-slide__slogan">
                                «Очень быстро избавила
                                от&nbsp;паразитов всю семью»
                            </p>
                            <p class="reviews-slide__text">
                                Мне эти капли понравились за то, что они очень быстро действуют. Детям моим
                                <span class="reviews-slide__text-nowrap">по 16 и 17 лет</span>, таблетки их глотать тяжело заставить.
                                Тем более, если долго. А с&nbsp;Интоксиком все было просто. Он быстро подействовал на них и меня.
                                Дети учиться стали лучше и лучше кушать. А я&nbsp;почувствовала,
                                как организм заработал на все 100%. Но все-таки мы пропили весь курс,
                                я хотела чтобы все паразиты точно ушли.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews8.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Hana, 35 лет, г. Джерантут
                            </p>
                            <p class="reviews-slide__slogan">
                                «Нельзя детям,<br>
                                а мне хорошо помог»
                            </p>
                            <p class="reviews-slide__text">
                                Интоксик нельзя детям до&nbsp;16&nbsp;лет, а&nbsp;я как раз для ребенка его и&nbsp;купила. Пришлось
                                ему другое средство покупать. А мне интоксик хорошо помог.
                                На&nbsp;вторую неделю уже почувствовала, что пищеварение у меня в&nbsp;норме,
                                живот перестал болеть совсем. Так что, если сначала жалела о&nbsp;покупке,
                                теперь я&nbsp;полностью довольна и посоветовала его всем своим знакомым.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                    <div class="swiper-slide reviews-slide">
                        <div class="reviews-slide__img">
                            <img src="img/reviews9.jpg" alt="">
                        </div>
                        <div class="reviews-slider__content">
                            <p class="reviews-slide__title">
                                Hakim, 47 лет, г. Тавау
                            </p>
                            <p class="reviews-slide__slogan">
                                «Одно средство<br>
                                от всех паразитов - удобно»
                            </p>
                            <p class="reviews-slide__text">
                                Раз в полгода провожу себе профилактику от паразитов, потому что знаю, сколько
                                они проблем здоровью могут нанести.
                                Intoxic меня заинтересовал эффектом, что он всех глистов убивает,
                                а то мне приходилось разные средства принимать от разных паразитов.
                                Сработали капли эти отлично, вывел всех паразитов и чувствую себя прекрасно.
                            </p>
                            <p class="reviews-slide__button js-reviews-toggle-class"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev reviews__swiper-button-prev"></div>
            <div class="swiper-button-next reviews__swiper-button-next"></div>
        </div>
    </div>
</section>