<section class="delivery block -wave" id="delivery">
    <div class="container">
        <h2 class="title delivery-title">Как заказать доставку <span class="delivery-title__red">Intoxic</span></h2>
        <div class="delivery-wrap">
            <div class="delivery-item">
                <div class="delivery-item__img">
                    <img class="img" src="img/delivery-form.png" alt="">
                    <span class="delivery-item__number"></span>
                </div>
                <div class="delivery-item__content">
                    <p class="delivery-item__title">
                        Заполните форму<br> заказа
                    </p>
                    <p class="delivery-item__text">
                        Укажите только свое имя
                        и&nbsp;номер телефона
                    </p>
                </div>
            </div>
            <div class="delivery-item">
                <div class="delivery-item__img">
                    <img class="img" src="img/delivery-operator.png" alt="">
                    <span class="delivery-item__number"></span>
                </div>
                <div class="delivery-item__content">
                    <p class="delivery-item__title">
                        Ответьте на звонок оператора
                    </p>
                    <p class="delivery-item__text">
                        Он уточнит ваши адресные данные и&nbsp;ответит на все вопросы об&nbsp;<span class="delivery-item__text_biger">Intoxic</span>
                    </p>
                </div>
            </div>
            <div class="delivery-item">
                <div class="delivery-item__img">
                    <img class="img" src="img/product.png" alt="">
                    <span class="delivery-item__number"></span>
                </div>
                <div class="delivery-item__content">
                    <p class="delivery-item__title">
                        Оплатите<br>
                        <span class="delivery-item__content_red">после&nbsp;получения</span>
                    </p>
                    <p class="delivery-item__text">
                        Никаких предоплат!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>