<section class="block_home last-section">
    <div class="container">
        <div class="home-box">
            <div class="home-girl">
                <img src="img/home-girl.png" alt="Girl">
            </div>
            <div class="home-wrap">
                <div class="home-content">
                    <h1 class="home-title">
                        <span class="home-title__biger">Очистка</span> и&nbsp;<span class="home-title_yellow">защита</span> организма <span class="home-title__smaller">от всех видов глистов</span>
                    </h1>
                    <div class="home-list">
                        <div class="home-list__item">
                            <div class="home-list__img">
                                <img src="img/check.svg" alt="">
                            </div>
                            <p class="home-list__text">Уничтожает и&nbsp;выводит глисты и&nbsp;их&nbsp;личинки</p>
                        </div>
                        <div class="home-list__item">
                            <div class="home-list__img">
                                <img src="img/check.svg" alt="">
                            </div>
                            <p class="home-list__text">Нейтрализует токсины и&nbsp;яды</p>
                        </div>
                        <div class="home-list__item">
                            <div class="home-list__img">
                                <img src="img/check.svg" alt="">
                            </div>
                            <p class="home-list__text">Повышает иммунитет и&nbsp;укрепляет здоровье</p>
                        </div>
                    </div>
                </div>
                <div class="home-product">
                    <img src="img/product.png" alt="Intoxic">
                </div>
                <div class="form last-section__form">
                    <div class="form-header">
                        <p class="form-title">
                            Успейте заказать со&nbsp;скидкой
                            <span class="form-title_pink">до <span class="date-0">22.22.2222</span></span>
                        </p>
                        <div class="price">
                            <div class="price-item price-old">
                                <p class="price-title price-title_old">Старая цена:</p>
                                <div class="price-content price-content_old">
                                    <span class="x_price_previous">1980</span>
                                    <span class="x_currency">грн</span>
                                </div>
                            </div>
                            <div class="price-item price-new">
                                <p class="price-title price-title_new">Новая цена:</p>
                                <div class="price-content price-content_new">
                                    <span class="x_price_current">990</span>
                                    <span class="x_currency">грн</span>
                                </div>
                            </div>
                        </div>
                        <p class="form__lastpack">Осталось упаковок со скидкой: <span class="lastpack">12</span></p>
                    </div>
                    <form action="/submit" method="post" class="x_order_form form-content">
                        <div class="input-box">
                            <img src="img/user.svg" alt="" class="input-box__img">
                            <input class="form-field form-field_name" type="text" name="name" required autocomplete="name" placeholder="Моё имя">
                        </div>
                        <div class="input-box">
                            <img src="img/tel.svg" alt="" class="input-box__img">
                            <input class="form-field form-field_tel" type="tel" name="phone" required autocomplete="tel" placeholder="Мой телефон">
                        </div>
                        <button class="button form-button">
                            <span class="button__text-1">Заказать</span>
                            <span class="button__text-2">со скидкой</span>
                        </button>
                    </form>
                    <div class="form-footer">
                        <div class="form-footer__img">
                            <img src="img/money.svg" alt="">
                        </div>
                        <p class="form-footer__text">Оплата после получения</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>