<section class="glist block -wave">
    <div class="container">
        <h2 class="title glist__title">
            <span>Глисты повсюду,</span>
            ими невозможно не&nbsp;заразиться
        </h2>
        <div class="glist__items-box">
            <div class="glist__item"><!--1-->
                <div class="glist__item-image">
                    <img src="./img/glist1.png" alt="item1">
                </div>
                <span class="glist__subtitle">Пища</span>
                <span class="glist__description">
                    Немытые фрукты и овощи, плохо обработанные мясо
                    и&nbsp;рыба приводят к&nbsp;заражению глистами
                </span>
            </div>
            <div class="glist__item -down"><!--2-->
                <div class="glist__item-image">
                    <img src="./img/glist2.png" alt="item2">
                </div>
                <span class="glist__subtitle">Вода</span>
                <span class="glist__description">
                    Сырая вода может послужить источником заражения опасными глистами
                </span>
            </div>
            <div class="glist__item"><!--3-->
                <div class="glist__item-image">
                    <img src="./img/glist3.png" alt="item3">
                </div>
                <span class="glist__subtitle">Почва</span>
                <span class="glist__description">
                    Глисты способны долгое время находится в земле, после чего попадают
                    в&nbsp;организм через обувь или&nbsp;грязные руки
                </span>
            </div>
            <div class="glist__item -down"><!--4-->
                <div class="glist__item-image">
                    <img src="./img/glist4.png" alt="item4">
                </div>
                <span class="glist__subtitle">Люди и животные</span>
                <span class="glist__description">
                    Паразиты очень быстро распространяются
                    и&nbsp;передаются от&nbsp;людей и&nbsp;животных
                </span>
            </div>
        </div>

        <p class="glist__warning">
            Глисты попадают в организм даже несмотря
            на все предосторожности
        </p>
    </div>
</section>