.components {
  padding: 28px 0 61px;
  &__top-banner {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 100%;
    max-width: 876px;
    margin: 0 auto 44px;
  }
  &__product-box {
    display: block;
    width: 100%;
    max-width: 182px;
  }
  &__banner-title {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 57px 0 0 20px;
    text-align: left;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 122px;
      height: 60px;
      background: url("../img/natural-arrow.png") no-repeat;
      bottom: -20px;
      right: -52px;
    }
  }
  &__banner-name {
    margin-bottom: 10px;
    color: #1f1f1f;
    font-size: 47px;
    font-weight: 900;
    span {
      color: #c84152;
    }
  }
  &__bottom-info {
    color: #444444;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
  &__go-to-order {
    display: block;
    width: 242px;
    margin: 62px 0 0 25px;
    padding: 9px 0 11px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__title {
    display: block;
    max-width: 730px;
    margin: 107px auto 72px;
    line-height: 55px;
    text-align: center;
  }
  /*_____center-pack_*/
  &__center-pack {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__pack {
    display: block;
    width: 100%;
    max-width: 267px;
    margin-top: 15px;
  }
  &__product {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 242px;
    margin-left: 46px;
    top: 202px;
  }
  /*_________COMPONENTS-box_*/
  &__items-box {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1027px;
    margin: 0 auto;
  }
  &__item {
    display: block;
    width: 100%;
    max-width: 323px;
    text-align: center;
  }
  &__item-image {
    display: block;
    margin: 0 auto;
    img {
      margin: 0 auto;
    }
    &.-citron {
      margin-right: 24px;
    }
    &.-plum {
      margin: 20px 10px 18px 0;
    }
    &.-nut {
      margin: 13px 0 7px;
    }
    &.-pumpkin {
      margin: 45px 0 18px 0;
    }
  }
  &__subtitle {
    display: block;
    margin-bottom: 9px;
    color: #2f1a13;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  &__description {
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
  /*___additional_*/
  &__additional-info {
    display: block;
    max-width: 828px;
    margin: 52px auto 0;
    padding: 15px 40px 18px;
    background-color: #edf7e0;
    color: #2f1a13;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    border-radius: 44px;
  }


}






/*______STYLE FOR DIVIDER____*/
.divider {
  position: absolute;
  width: 100%;
  height: 11px;
  left: 0;
  &:before {
    content: "";
    position: absolute;
    width: calc(50% - 14px);
    height: 1px;
    top: 0;
    left: 0;
    background: rgba(202, 202, 202, 0.58);
  }
  &:after {
    content: "";
    position: absolute;
    width: calc(50% - 14px);
    height: 1px;
    top: 0;
    left: auto;
    right: 0;
    background: rgba(202, 202, 202, 0.58);
  }
  &__triangle {
    width: 30px;
    height: 11px;
    fill: rgba(202, 202, 202, 0.58);
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

}

@media screen and (max-width: 1189px){
  .components {
    padding: 30px 0 40px;
  }

  .components__title {
    margin: 85px auto 40px;
  }
}

@media all and (max-width: 1023px) {
  .components {
    &__banner-title {
      &:before {
        bottom: 20px;
        right: -100px;
      }
    }
    &__top-banner {
      margin: 0 auto 20px;
    }
    &__pack {
      max-width: 245px;
      margin-top: 30px;
    }
    &__product {
      max-width: 205px;
    }
    &__title {
      margin: 40px auto 0;
    }
    &__item {
      max-width: 238px;
    }
    &__item-image {
      &.-plum {
        margin: 9px auto 7px;
        max-width: 120px;
      }
      &.-pumpkin {
        max-width: 210px;
        margin:16px auto 24px;
      }
    }
    &__description {
      font-size: 17px;
      line-height: 22px;
    }
    &__additional-info {
      max-width: 690px;
      margin-top: 30px;
      padding: 15px 20px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}
@media all and (max-width: 767px) {
  .components {
    &__title {
      margin-top: 30px;
    }
    &__banner-title {
      &:before {
        display: none;
      }
    }
    &__top-banner {
      max-width: 422px;
      flex-direction: column;
      align-items: center;
    }
    &__bottom-info {
      font-size: 20px;
      line-height: 1.1;
    }
    &__go-to-order {
      margin: 20px auto 0;
    }
    &__banner-title {
      margin-top: 20px;
      text-align: center;
    }
    &__banner-name {
      margin-bottom: 0;
      font-size: 35px;
    }
    &__title {
      line-height: 1.1;
    }
    &__center-pack {
      display: block;
      position: relative;
      left: unset;
      -webkit-transform: translateX(-50%);
      transform: none;
      max-width: 238px;
      margin: 0 auto;
    }
    &__pack {
      max-width: 245px;
      margin-top: 30px;
      display: none;
    }
    &__product {
      max-width: 170px;
      top: 154px;
      margin-left: 62px;
    }
  }
  .divider {
    display: none;
  }
}
@media all and (max-width: 639px) {
  .components {
    &__product {
      display: none;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__additional-info {
      max-width: 690px;
      margin-top: 30px;
      padding: 15px 20px;
      font-size: 20px;
      line-height: 25px;
    }
  }
}
@media all and (max-width: 479px) {
  .components {
    &__banner-name {
      font-size: 28px;
    }
    &__title {
      font-size: 22px;
    }
    &__items-box {
      flex-direction: column;
      align-items: center;
    }
    &__item-image {
      &.-nut {
        margin: 0 0 7px;
      }
    }
    &__additional-info {
      max-width: 300px;
      padding: 10px 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}