<section class="components block -wave">
    <div class="container">
        <!--top-banner-->
        <div class="components__top-banner">
            <div class="components__product-box">
                <img src="./img/product.png" alt="product">
            </div>
            <div class="components__banner-title">
                <h3 class="components__banner-name">
                    Капли
                    <span>Intoxic</span>
                </h3>
                <p class="components__bottom-info">
                    избавляют от глистов комплексно
                    и&nbsp;полностью очищают организм
                </p>
            </div>
            <button class="components__go-to-order">Заказать</button>
        </div>
        <!--divider-->
        <div class="divider">
            <svg class="divider__triangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 11">
                <polygon class="one" points="0 0 1 0 15 10 29 0 30 0 15 11 0 0"></polygon>
            </svg>
            <div class="divider__check"></div>
        </div>

        <!--components-->
        <h2 class="title components__title">
            Улучшенная формула и&nbsp;натуральные компоненты
        </h2>
        <!--center-pack-->
        <div class="components__center-pack">
            <div class="components__pack">
                <img src="./img/natural-pack.png" alt="pack">
            </div>
            <div class="components__product">
                <img src="./img/natural-prod.png" alt="prod">
            </div>

        </div>
        <!--top-box-->
        <div class="components__items-box -top">
            <div class="components__item"><!--1-->
                <div class="components__item-image">
                    <img src="./img/natural1.png" alt="component1">
                </div>
                <span class="components__subtitle">Цитрон пальчатый</span>
                <span class="components__description">
                    Укрепляет организм, улучшает работу желудочно-кишечного тракта,
                    ускоряет восстановление организма
                </span>
            </div>
            <div class="components__item"><!--2-->
                <div class="components__item-image">
                    <img src="./img/natural2.png" alt="component2">
                </div>
                <span class="components__subtitle">Темная слива</span>
                <span class="components__description">
                    Выводит токсины и яды, поднимает и&nbsp;укрепляет иммунитет,
                    укрепляет нервную систему.
                </span>
            </div>
        </div>
        <!--bottom-box-->
        <div class="components__items-box -bottom">
            <div class="components__item"><!--3-->
                <div class="components__item-image">
                    <img src="./img/natural3.png" alt="component3">
                </div>
                <span class="components__subtitle">Мускатный орех</span>
                <span class="components__description">
                    Губителен для паразитов, улучшает пищеварение,
                    укрепляет иммунную систему.
                </span>
            </div>
            <div class="components__item"><!--4-->
                <div class="components__item-image">
                    <img src="./img/natural4.png" alt="component4">
                </div>
                <span class="components__subtitle">Тыква</span>
                <span class="components__description">
                    Нормализует и улучшает работу пищеварительной системы, убивает
                    и&nbsp;способствует выводу глистов и&nbsp;их&nbsp;яиц
                </span>
            </div>
        </div>
        <!--additional-info-->
        <p class="components__additional-info">
            Комплексный эффект для борьбы с паразитами обеспечит быстрое
            избавление от всех видов глистов
        </p>
    </div>
</section>