.popup-wrap {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to right, #d24459 0%, #83263d 100%);
  border-radius: 5px;
  padding: 60px;
}

.popup-figure {
  position: absolute;
  width: 493px;
  top: 40px;
  left: 35px;
  z-index: -2;
}

.popup-product {
  flex: none;
  margin: 0 25px 0 60px;
}

.popup-form {
  margin: 0 20px;
}


.ever-popup__close:after,
.ever-popup__close:before {
  background: #b6475f !important;
  height: 3px !important;
  width: 30px !important;
}

@media screen and (min-width: 1024px){
  //hide scrollbar
  .ever-popup::-webkit-scrollbar { width: 0; }
  .ever-popup { -ms-overflow-style: none; }
  .ever-popup { overflow: -moz-scrollbars-none; }
  .ever-popup__close {
    width: 30px !important;
    height: 25px !important;
    top: 25px !important;
    right: 20px !important;
  }
  .ever-popup__inner {
    padding-top: 0 !important;
  }


}
/*@media screen and (max-width: 4440px) {
  .popup-wrap {
    padding: 35px;
  }
  .ever-popup__inner {
    margin: 20px auto 0 !important;
    padding-top: 0 !important;
  }
  .ever-popup__close {
    top: 6px !important;
  }
}*/
@media screen and (max-width: 1023px){
  .popup-figure,
  .popup-product {
    display: none;
  }


  .popup-wrap {
    background: transparent;
    padding: 0;
  }

  .popup-form.form:before {
    display: none;
  }

  .popup-form {
    margin: 0;
  }

}