.popup-wrap {
  position: relative;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to right, #d24459 0%, #83263d 100%);
  border-radius: 5px;
  padding: 60px;
}

.popup-figure {
  position: absolute;
  width: 493px;
  top: 40px;
  left: 35px;
  z-index: -2;
}

.popup-product {
  flex: none;
  margin: 0 25px 0 60px;
}

.popup-form {
  margin: 0 20px;
}


.ever-popup__close:after,
.ever-popup__close:before {
  background: #b6475f !important;
  height: 3px !important;
  width: 30px !important;
}

@media screen and (min-width: 1024px){
  .ever-popup__close {
    width: 30px !important;
    height: 25px !important;
    top: 60px !important;
    right: 20px !important;
  }
}

@media screen and (max-width: 1023px){
  .popup-figure,
  .popup-product {
    display: none;
  }

  .popup-wrap {
    background: transparent;
    padding: 0;
  }

  .popup-form.form:before {
    display: none;
  }

  .popup-form {
    margin: 0;
  }

}